{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'app/estilo.css' %}">
</head>

<body>

    <div class="contenedor">
        <header>
            <div class="logo">
                BLOCKBUSTER
            </div>
            <div class="titulo">
                <i class="fas fa-angle-double-right"></i> {% block titulo %}TITULO{% endblock %}
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'app:peliculas' %}">Peliculas</a>
                <li><a href="{% url 'app:categorias' %}">Categorias</a></li>
                <li><a href="{% url 'app:acerca' %}">Acerca</a></li>
                <li><a href="#">Salir</a></li>
            </ul>
        </nav>
        <main>
            {% block contenido %}
            {% endblock %}
        </main>
    </div>

</body>

</html>