{% extends 'app/base.html' %}

{% block titulo %}
Categoria
{% endblock %}

{% block contenido %}
<a href="{% url 'app:peliculas' %}">Ir a la pagina de peliculas</a>
<br>
<a href="{% url 'app:index' %}">Ir al inicio</a>
<h1>Categoria</h1>
<p>El nombre del actor es {{ actor }} y tiene {{ edad }} años.</p>
{% if esJubilado %}
<p>El actor es jubilado</p>
{% else %}
<p>El actor aún trabaja activamente en la industria del cine y la TV</p>
{% endif %}
<h2>Filmografía del actor</h2>

<ul>
    {% for pelicula in filmografia %}
    <li>{{ pelicula.titulo }}</li>
    {% endfor %}
</ul>
<hr>
<h2>Tabla de peliculas de actor</h2>

<table border="1">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Año</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in filmografia %}
        <tr>
            <td>{{ movie.titulo }}</td>
            <td>
                {{ movie.year }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}