{% extends "app/base.html" %}

{% block titulo %}
Categorias
{% endblock %}

{% block contenido %}
<a href="{% url 'app:form_crear_categoria_view' %}">Crear categoría</a>

<ul>
    {% for c in categorias %}
    <li>{{ c.nombre }}</li>
    {% endfor %}
</ul>
{% endblock %}