{% extends "app/base.html" %}

{% block titulo %}
Crear categoria
{% endblock %}

{% block contenido %}
<h3>Datos de la categoría</h3>
<hr>
<form action="{% url 'app:crear_categoria_post' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <label>Nombre</label>
        <input type="text" name="nombre">
    </fieldset>
    <fieldset>
        <label>Descripción</label>
        <input type="text" name="descripcion">
    </fieldset>
    <fieldset>
        <button type="submit">Crear categoría</button>
    </fieldset>
</form>

{% endblock %}