{% extends 'app/base.html' %}

{% block titulo %}
Crear película
{% endblock %}

{% block contenido %}
<h3>Datos de la película</h3>
<hr>
<form action="{% url 'app:crear_pelicula_post' %}" method="POST">
    {% csrf_token %}
    <fieldset>
        <label>Titulo</label>
        <input type="text" name="titulo">
    </fieldset>
    <fieldset>
        <label>Año</label>
        <input type="number" name="year">
    </fieldset>
    <fieldset>
        <label>Sinopsis</label>
        <textarea name="sinopsis" cols="30" rows="5"></textarea>
    </fieldset>
    <fieldset>
        <label>Categoria</label>
        <select name="categoria">
            {% for c in categorias %}
            <option value="{{c.id}}">{{c.nombre}}</option>
            {% endfor %}
        </select>
    </fieldset>
    <fieldset>
        <button type="submit">Crear pelicula</button>
    </fieldset>
</form>
{% endblock %}