<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error de inicio de sesión</title>
</head>

<body>

    <h1>Error en los datos</h1>
    <a href="{% url 'app:iniciar_sesion_view' %}">Ingresar</a>

</body>

</html>