<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockbuster</title>
</head>

<body>

    <h1>Bienvenido a Blockbuster</h1>
    {% if request.user.is_authenticated %}
    <span>Bienvenido {{ request.user.first_name }}</span>
    <br>
    <a href="{% url 'app:cerrar_sesion' %}">cerrar sesión</a>
    {% else %}
    <a href="{% url 'app:iniciar_sesion_view' %}">iniciar sesión</a>
    <br>
    <a href="{% url 'app:form_registro_view' %}">Crear cuenta</a>
    {% endif %}

</body>

</html>