{% extends 'app/base.html' %}

{% block titulo %}
Peliculas
{% endblock %}

{% block contenido %}

<a href="{% url 'app:form_crear_pelicula_view' %}">Crear pelicula</a>

<table border="1">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Año</th>
            <th>Categorias</th>
        </tr>
    </thead>
    <tbody>
        {% for p in peliculas %}
        <tr>
            <td>{{ p.titulo }}</td>
            <td>
                {% if p.year %}
                {{ p.year }}
                {% else %}
                Año no disponible
                {% endif %}
            </td>
            <td>{{ p.categoria }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}