* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template: 50px 1fr / 150px auto;
  grid-template-areas:
    "header header"
    "nav main";
  font-family: Helvetica, Arial, sans-serif;
}
header {
  grid-area: header;
  background: #2641a0;
  display: flex;
  align-items: center;
}
header .logo {
  color: #e5a328;
  margin: 0px 20px;
  border: 1px solid #e5a328;
  padding: 10px 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transform: rotate(-5deg);
}
header .titulo {
  color: #fff;
}
nav {
  grid-area: nav;
  background: #3654c2;
  padding-top: 20px;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  background: #2345bd;
  padding: 10px 10px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}
main {
  grid-area: main;
  background: #e8e8e8;
  padding: 20px;
}

/* Formularios */
fieldset {
  border: 0;
  outline: none;
}
form {
  padding: 20px;
}
